/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-font: "IBM Plex Mono", monospace;
  --main-font-size: 18px;
  --main-font-weight: 400;
  --font-weight-bold: 700;
  --main-line-height: 23.4px;
  --main-text-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --background-color: var(--accent-text-color, #353430);
  --decoration-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex Mono", monospace;
    --main-font-size: 18px;
    --main-font-weight: 400;
    --font-weight-bold: 700;
    --main-line-height: 23.4px;
    --main-text-color: #db00ff;
    --text-color: #f1b2ce6;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --background-color: var(--accent-text-color, #353430);
    --decoration-display: none;
  }
}
