/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --accent-text-color: #353430;
  --menu-text-color: #ff0070;
  --header-title-color: #ffc2e6;
  --header-text-color: #353430;
  --title-color: #353430;
  --subtitle-regular: var(--main-font-weight);
  --decorated-border-color: var(--accent-text-color);
  --menu-list-color: var(--text-color);
  --button-active-color: var(--text-color);
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --button-focus-color: var(--text-color);
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --decoration-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --accent-text-color: #353430;
    --menu-text-color: #ff0070;
    --header-title-color: #ffc2e6;
    --header-text-color: #353430;
    --title-color: #353430;
    --subtitle-regular: var(--main-font-weight);
    --decorated-border-color: var(--accent-text-color);
    --menu-list-color: var(--text-color);
    --button-active-color: var(--text-color);
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --button-focus-color: var(--text-color);
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --decoration-display: none;
  }
}
