/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex Mono", monospace;
  --main-font-size: 18px;
  --main-font-weight: 400;
  --font-weight-bold: 700;
  --main-line-height: 23.4px;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: var(--accent-color);
  --subtitle-regular: var(--main-font-weight);
  --accent-text-color: #000028;
  --menu-text-color: #ff0070;
  --decorated-border-color: var(--accent-color);
  --header-title-color: #db00ff;
  --header-text-color: #000028;
  --menu-list-color: var(--accent-color);
  --button-active-color: var(--accent-color);
  --button-focus-color: var(--accent-color);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --background-color: var(--accent-text-color, #000028);
  --decoration-display: block;
}
